@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
  
}

:root{
  --very_dark_magenta: hsl(300, 43%, 22%);
  --soft_pink: hsl(333, 80%, 67%);
  --dark_grayish_magenta: hsl(303, 10%, 53%);

  /* (paragraphs) */
  --light_grayish_magenta: hsl(300, 24%, 96%);

  /* (background, headings, buttons) */
  --white: hsl(0, 0%, 100%);
}

body {
   height: 100%;
   background-image: url("./images/bg-pattern-top-mobile.svg"), url("./images/bg-pattern-bottom-mobile.svg");
   background-position: left top, right bottom;
   background-repeat: no-repeat;
   margin-bottom: 10rem;
   font-size: 15px;
}

.main-container {
   width: 87.5vw;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

.top-container h1{
   color: var(--very_dark_magenta);
   margin-top: 3.5rem;
   padding: 1.5rem;
   font-weight: 700;
   font-size: 2.5rem;
}

.top-container p {
   color: var(--dark_grayish_magenta);
   line-height: 1.5rem;
   font-size: 1.175rem;
}

.ratings-container{
   width: 100%;
   margin: 1.75rem 0;
}

.rating {
   height: 5rem;
   width: 100%;
   margin: 1rem 0; 
   background-color: var(--light_grayish_magenta);
   border-radius: 7.5px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.rating p {
   margin: 0.25rem;
   color: var(--very_dark_magenta);
   font-size: 1.05rem;
   font-weight: 700;
}

.rating-stars {
   margin: 0.5rem;
}

.rating-stars img {
   padding: 0 0.1rem;
}

.feedback-section {
   display: flex;
   flex-direction: column;
   text-align: left;
}

.review-card {
   background-color: var(--very_dark_magenta);
   margin-bottom: 1rem;
   border-radius: 10px;
}

.card {
   width: 80%;
   margin: 1.4rem auto;
}

.review-card img {
   height: 40px;
   border-radius: 50%;
   margin-right: 1.35rem;
}

.critic-card {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin: 2.2rem 0 1.5rem;
}

.critic-name {
   display: block;
   color: var(--soft_pink);
   font-size: 1.05rem;
   line-height: 1.25rem;
}

.critic-name h2 {
   color: var(--white);
   font-size: 1rem;
   font-weight: 500;
}

.testimonial {
   color: var(--light_grayish_magenta);
   font-size: 1rem;
   line-height: 1.4rem;
   margin: 1.75rem 0;
}

.attribution {
   margin: 2rem 0;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1020px) {

   body {
      height: 100%;
      background-image: url("./images/bg-pattern-top-desktop.svg"), url("./images/bg-pattern-bottom-desktop.svg");
      margin-bottom: 0rem;
   }

   .main-container {
      display: block;
      width: 77.5vw;
      align-items: unset;
      text-align: center;
   }

   .top-container {
      margin: 7.5rem 0 0;
      text-align: left;
      width: 40%;
      float: left;
   }

   .top-container h1{      
      margin: 0;
      padding: 0.5rem 0;
      font-weight: 700;
      font-size: 3.5rem;
   }

   .top-container p{      
      margin-bottom: 2rem;
   }

   .ratings-container{
      margin: 7.5rem 0 5rem;
      display: block;
      width: 55%;
      float: right;
   }

   .rating {
      height: 3.5rem;
      margin-top: 0;
      margin-bottom: 1rem;
      width: 80%;
      align-items: center;
      flex-direction: row;
      float: right;
   }

   .one {
      margin-right: 4rem;
   }

   .two {
      margin-right: 2rem;
   }

   .feedback-section {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
   }

   .review-card {
      background-color: var(--very_dark_magenta);
      margin: 0;
      height: 16rem;
      width: 32%;
   }
   
   .second {
      margin-top: 1.75rem;
   }

   .third {
      margin-top: 3.5rem;
   }
}